 @font-face {
    font-family: NewFont;
    src: url(fonts/RubikBubbles-Regular.ttf);
 }

 @font-face {
    font-family: NewFont2;
    src: url(fonts/Silkscreen-Bold.ttf);
 }

body {
    font-size: larger;
    color: white;
    background-image: url(slike/background.jpg);
    background-size: cover;
}

header {
    height: 110px;
}

header table {
    width: 100%;
}

header, main, footer {
    max-width: 991px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 5%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 95%, rgba(0,0,0,0) 100%);
}

div {
    display: inline-block;
}

li {
    float: left;
    list-style-type: none;
    padding: 15px;
}

.team li {
    list-style-type: none;
    padding-inline: 35px;
    float: unset;
}

.team div {
    padding-left: 35px;
}

.icon {
    width: 32px;
    height: 32px;
}

.slike img {
    width: 456px;
    height: 320px;
}

.usluga1 img {
    width: 458px;
    height: 320px;
    float: left;   
    margin-right: 35px; 
    border: solid 1px white;
}

.usluga2 img {
    width: 500px;
    height: 300px;
    float: right;
    margin-left: 35px;
    border: solid 1px white;
}

.usluga3 img {
    width: 320px;
    height: 320px;
    float: left;
    margin-right: 35px;
    margin-bottom: 50px;
    border: solid 1px white;
}

.galerija, .usluga1, .usluga2, .usluga3 {
    margin: 0 35px;
}

hr {
    color: white;
}

p {
    text-align: justify;
    line-height: 30px;
}

.socials_footer {
    margin: 0 auto;
    width: 50%;
}

.socials_footer span {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.socials_footer span:nth-last-of-type(1) {
    font-size: small;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.socials_footer div {
    margin-top: -20px;
    margin-inline: 100px;
    margin-bottom: 0;
    width: 320px;
}

.history img {
    height: 200px;
    width: 600px;
    float: left;
    margin-inline: 35px;
    border: solid 1px white;
}

.mission img {
    height: 250px;
    width: 550px;
    float: right;
    margin-inline: 35px;
    border: solid 1px white;
}

.team img {
    height: 200px;
    width: 200px;
    float: right;
    margin: -70px 105px 0 0;
}

.o_nama p {
    margin-inline: 35px;
}

h1, .o_nama h2, .kontakt h2 {
    padding-top: 35px;
    padding-left: 35px;
    font-family: NewFont;
}

.galerija h2 {
    padding-top: 35px;
}

h2 {
    font-family: NewFont;
}

.pocetni p {
    padding-inline: 35px;
    padding-bottom: 20px;
}

nav, .socials_contacts li a {
    font-family: NewFont2;
}

:is(nav, .socials_contacts) a:link {
    text-decoration: none;
    color: white;
}

:is(nav, .socials_contacts) a:visited {
    color: white;
}

.nav2 a:hover {
    color: darkred;
}

.nav2 a:active {
    color: orange;
}



.nav1 img {
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
}

.nav1 img:hover {
    filter: invert(8%) sepia(97%) saturate(5633%) hue-rotate(360deg) brightness(83%) contrast(109%);
}

.nav1 img:active {
    filter: invert(47%) sepia(99%) saturate(1067%) hue-rotate(10deg) brightness(90%) contrast(101%);
}

.nav2 {

    padding-bottom: 25px;
    font-size: larger;
}

.nav3 input {
    height: 30px;
    width: 160px;
    border: solid;
    vertical-align: middle;
    margin-left: 20px;
}

input {
    border: solid;
    height: 30px;
    width: 220px;
}

textarea {
    border: solid;
}

:is(input, textarea)::placeholder {
    font-family: 'sans-serif';
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    border: solid;
}

.forma :is(input, textarea):valid {
    color: green;
}
.forma :is(input, textarea):invalid {
    color: red;
}


:is(input, textarea):hover {
    color: darkred;
}

.nav3 button {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border: solid 1px white;
    border-radius: 25px;    
}

.nav3 button img {
    width: 20px;
    height: 20px;
}

.forma button {
    border: solid white 1px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin-left: 15px;
}

nav li {
    padding-inline: 10px;
}

.socials_contacts li img {
    margin-right: 20px;
}

.socials_contacts p {
    margin-right: 35px;
    font-size: medium;
    font-style: italic;
}

:is(section, div) > p:first-of-type:not(:only-of-type)::first-letter {
    font-size: 40px;
}

.forma {
    margin-left: 35px;
}

.galerija img {
    border: solid 1px white;
}

.galerija img:hover {
    filter: brightness(85%) saturate(115%);
}

.kontakt2 img {
    margin-inline: auto;
    display: flex;
    border: 1px solid white;
}

.kontakt2 {
    margin-right: 35px;
}

.kontakt h2 {
    margin-bottom: 60px;
}

.forma {
    margin-top: -240px;
}

.icon {
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
    width: 25px;
    height: 25px;

}
#fb:hover {
    filter: invert(35%) sepia(64%) saturate(849%) hue-rotate(187deg) brightness(90%) contrast(78%);
}

#tw:hover {
    filter: invert(49%) sepia(45%) saturate(1822%) hue-rotate(176deg) brightness(97%) contrast(95%);
}

#in:hover {
    filter: invert(31%) sepia(33%) saturate(2440%) hue-rotate(289deg) brightness(96%) contrast(97%);
}

#wp:hover {    
    filter: invert(63%) sepia(94%) saturate(412%) hue-rotate(86deg) brightness(92%) contrast(87%);
}

button {
    border: solid 1px white;
    border-radius: 5px;
    height: 35px;
    padding-inline: 10px;

    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
}

button:hover {
    color: white;
    border-color: darkred;
    background-color: darkred;
}

button:active {
    background-color: orange;
    border-color: orange;
}